RewriteEngine on
RewriteCond %{HTTP_HOST} ^littleowldevelop.github.io/fun-box-cat-food-test$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.littleowldevelop.github.io/fun-box-cat-food-test$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]	